:root {
  --light: #fff6e6;
  --darkGrey: #3a3a3a;
  --gold: #b99049;
  --red: #b71713;
  --green: #124b10;
  --blue: #078cb1;
  --yellow: #e1b50c;
}

@font-face {
  font-family: "Rubik";
  src: url("./../font/Rubik-Regular.ttf");
}
@font-face {
  font-family: "Rubik";
  src: url("./../font/Rubik-Bold.ttf");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url("./../images/bgHP.webp") repeat;
  font-family: "Rubik";
}

main {
  background-color: var(--light);
  max-width: 1024px;
  margin: auto;
  margin-bottom: 70px;
}
main h3 {
  text-transform: uppercase;
  border-bottom: 3px solid black;
  text-align: center;
  color: var(--darkGrey);
  font-size: 32px;
  font-weight: 700;
  padding-top: 10px;
}
main h2 {
  color: var(--darkGrey);
  text-align: center;
  font-family: Roboto;
  font-size: 40px;
  margin-bottom: 54px;
}

footer {
  background-color: #000;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: #fff;
}

.header {
  display: flex;
  max-width: 1024px;
  margin: 20px auto;
}
.header h1 {
  margin-bottom: 20px;
}
.header__right img {
  height: 100px;
  margin-right: 20px;
}
.header__left {
  width: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.header__left ul {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.header__left ul li {
  list-style: none;
  font-weight: bold;
}

.houses {
  display: flex;
  justify-content: space-around;
  background: rgba(185, 144, 73, 0.5);
  padding: 30px;
  flex-wrap: wrap;
}
.houses > div {
  border-radius: 140px;
  width: 140px;
  height: 140px;
  text-align: center;
  transition: background 0.3s ease, transform 0.3s ease;
}
.houses > div:hover {
  background: var(--light);
  transform: scale(1.1);
}
.houses img {
  width: 121px;
  height: 136px;
}

.characters {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px;
}
.characters > div {
  padding: 30px;
  text-align: center;
  transition: transform 0.3s ease, border-color 0.3s ease;
}
.characters > div:hover {
  transform: scale(1.1);
}
.characters img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 8px solid var(--gold);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.characters p {
  color: var(--gold);
}


.griffondor img {
  border-color: var(--red);
}
.griffondor img:hover {
  box-shadow: 0px 0px 15px var(--red);
}


.serpentard img {
  border-color: var(--green);
}
.serpentard img:hover {
  box-shadow: 0px 0px 15px var(--green);
}


.poufsouffle img {
  border-color: var(--yellow);
}
.poufsouffle img:hover {
  box-shadow: 0px 0px 15px var(--yellow);
}


.serdaigle img {
  border-color: var(--blue);
}
.serdaigle img:hover {
  box-shadow: 0px 0px 15px var(--blue);
}

@media screen and (max-width: 425px) {
  .header {
    width: 90%;
  }
  .header h1, .header ul {
    display: none !important;
  }
  .header__left {
    justify-content: flex-end;
  }
  .header__left img {
    display: block !important;
    height: 70px;
  }
  .houses {
    flex-direction: column;
    align-content: space-around;
  }
}
